$color-bc: #27ae60;
$color-font-grey: #eee;
body{
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif
}
@media (min-width: $screen-xs) {
  .collapse {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar > .container .navbar-brand {
    margin-left: 0;
  }
}
/*头部*/
.i-header {
  padding: 20px 0 50px;
  color: $color-font-grey;
  background-color: $color-bc;
  .container a, .container .nav a {
    color: $color-font-grey;
    //@include transition(all, .3s);
    &:hover {
      color: #fff;
    }
  }
  /*右边导航*/
  nav {
    background-color: inherit;
    border: none;
  }
  /*两个logo*/
  a.navbar-brand {
    display: block;
    height: 30px;
    width: 124px;
    padding: 15px;
    margin: 10px 0 10px 15px;
    background-size: contain;
    @at-root .logo-bootcdn {
      background: url("../img/bootcdn.svg") no-repeat 0 0 ;
    }
    @at-root .logo-upyun {
      background: url("../img/upyun.svg") no-repeat 0 0;
    }
  ;
  }

}